@{
    ViewBag.Title = "Learn To Plant!";
}
@section Scripts {
<script src="~/js/pop-up.js"></script>
<script src="~/js/modal.js"></script>
<script src="~/js/services/workFactory.js"></script>
<script src="~/js/services/imageFactory.js"></script>
<script src="~/js/services/actionFactory.js"></script>
<script src="~/js/services/lessonFactory.js"></script>
<script src="~/js/controllers/workController.js"></script>
<script src="~/js/controllers/lessonsController.js"></script>
<script src="~/js/controllers/toolsController.js"></script>
<script src="~/js/controllers/environmentController.js"></script>
<script src="~/js/controllers/actionsController.js"></script>
}

<div>


    <!-- Modal -->
    <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title text-uppercase">{{ item.title }}</h3>
            </div>
            <div name="modalBody" class="modal-body">
                <input type="radio" name="answear" value="true" checked="checked" style="display:none;" />
                <div ng-repeat="subitem in item.subitem">
                    <div ng-switch on="subitem.type">
                        <div ng-switch-when="Text">
                            <p class="text-justify">{{ subitem.value }}</p>
                        </div>
                        <div ng-switch-when="Test">
                            <input type="radio" name="answear" value="{{subitem.value}}" > <label>{{ subitem.key }}</label><br />
                        </div>
                    </div>                  
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            </div>
        </script>

        <div id="container" ng-controller="actionsController">
            <div class="col-md-2">
                <div id="lessons" ng-controller="lessonsController">
                    <ul>
                        <li ng-repeat="image in images" id="{{$index}}" onclick="show_modal(this)">
                            <p class="text-uppercase">{{image.description}}</p>
                            <img ng-src="{{image.Path}}"/>
                            <hr/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div id="environment" ng-controller="environmentController">
                    <span ng-repeat="image in images">
                        <img ng-src="{{image.Path}}" style="visibility:hidden" />
                    </span>
                </div>
                <div id="workArea" ng-controller="workController">
                    <div id="notifications">

                    </div>

                    <div id="plant">
                        <span ng-model="plant">
                            {{plant.Substrate.Humidity}}
                        </span>
                        <div ng-repeat="image in pomidor" class="col-md-12" style="visibility:hidden">
                            <img ng-src="{{image.Path}}" />
                        </div>
                        <div ng-repeat="image in doniczka" class="col-md-12">
                            <img ng-src="{{image.Path}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="tools" ng-controller="toolsController" style="position:absolute; right:10px;">
                    <ul>
                        <li ng-repeat="image in images" id="{{image.Id}}">
                            <p>{{image.Description}}</p>
                            <img ng-src="{{image.Path}}" ng-click="hoverInOut()" />
                            <ul>
                                <li class="tools-toggle" ng-repeat="subimage in image.SubImages" ng-show="hoverEdit">
                                    <p>{{subimage.Description}}</p>
                                    <img ng-src="{{subimage.Path}}" ng-click="handleAction(subimage.Action, subimage.Value)" />
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
