@{
    ViewBag.Title = "Learn To Plant!";
}
@section Scripts {
<script src="~/js/pop-up.js"></script>
<script src="~/js/modal.js"></script>
<script src="~/js/filter.js"></script>
<script src="~/js/services/workFactory.js"></script>
<script src="~/js/services/imageFactory.js"></script>
<script src="~/js/services/actionFactory.js"></script>
<script src="~/js/services/lessonFactory.js"></script>
<script src="~/js/controllers/workController.js"></script>
<script src="~/js/controllers/modalInstanceController.js"></script>
<script src="~/js/controllers/lessonsController.js"></script>
<script src="~/js/controllers/toolsController.js"></script>
<script src="~/js/controllers/environmentController.js"></script>
<script src="~/js/controllers/actionsController.js"></script>
}

<div>
    <!-- Modal -->
    <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title text-uppercase">{{ item.title }}</h3>
            </div>
            <div name="modalBody" class="modal-body">
                <input type="radio" name="answear" value="true" checked="checked" style="display:none;" />
                <div ng-repeat="subitem in item.subitem">
                    <div ng-switch on="subitem.type">
                        <div ng-switch-when="Text">
                            <p class="text-justify">{{ subitem.value }}</p>
                        </div>
                        <div ng-switch-when="Test">
                            <input type="radio" name="answear" value="{{subitem.value}}" > <label>{{ subitem.key }}</label><br />
                        </div>
                        <div ng-switch-when="Image">
                            <img ng-src="{{subitem.value}}" class="img-thumbnail center-block">
                        </div>
                        <div ng-switch-when="Video">
                            <iframe width="560" height="315" ng-src="{{subitem.value | trustThisUrl}}"></iframe>
                        </div>
                    </div>                  
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            </div>
        </script>

        <div id="container" ng-controller="actionsController">
            <div class="col-md-2">
                <div id="lessons" ng-controller="lessonsController">
                    <ul>
                        <li ng-repeat="image in images">
                            <p class="text-uppercase">{{ image.text }}</p>
                            <img ng-src="{{ image.path }}" ng-click="hoverInOut()"/>
                            <ul>
                                <li class="lessons-toggle" ng-repeat="item in image.items" id="{{$index}}" ng-show="hoverEdit">
                                    <p class="text-uppercase">{{item.description}}</p>
                                    <img ng-src="{{item.path}}" ng-click="showLesson(item.id)"/>
                                    <hr/>
                                </li>
                            </ul>
                            <hr />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div id="environment" ng-controller="environmentController">
                    <span ng-repeat="image in images">
                        <img ng-src="{{image.Path}}" style="visibility:hidden" />
                    </span>
                </div>
                <div id="workArea" ng-controller="workController">
                    <div id="notifications">

                    </div>

                    <div id="plant" class="center-block" style="height: 350px; display: flex; align-items: flex-end">
                        <div ng-repeat="image in pomidor" class="col-md-12" style="visibility:hidden">
                            <img ng-src="{{image.Path}}" />
                        </div>
                        <div ng-repeat="image in doniczka" class="col-md-12">
                            <img ng-src="{{image.Path}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div id="tools" ng-controller="toolsController" style="position:absolute; right:10px;">
                    <ul>
                        <li ng-repeat="image in images" id="{{image.Id}}">
                            <p>{{image.Description}}</p>
                            <img ng-src="{{image.Path}}" ng-click="hoverInOut()" />
                            <ul>
                                <li class="tools-toggle" ng-repeat="subimage in image.SubImages" ng-show="hoverEdit">
                                    <p>{{subimage.Description}}</p>
                                    <div ng-switch on="subimage.Value">
                                        <div ng-switch-when="0">
                                            <img class="action0" ng-src="{{subimage.Path}}" ng-click="handleAction(subimage.Action, subimage.Value)" />
                                        </div>
                                        <div ng-switch-default>
                                            <img class="action1" ng-src="{{subimage.Path}}" ng-click="handleAction(subimage.Action, subimage.Value)" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
