@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
<script src="~/js/services/workFactory.js"></script>
<script src="~/js/services/imageFactory.js"></script>
<script src="~/js/services/actionFactory.js"></script>
<script src="~/js/controllers/workController.js"></script>
<script src="~/js/controllers/lessonsController.js"></script>
<script src="~/js/controllers/toolsController.js"></script>
<script src="~/js/controllers/actionsController.js"></script>
}

<div id="container" ng-controller="actionsController">
    <div id="lessons" ng-controller="lessonsController">
        <ul>
            <li ng-repeat="image in images">
                <img ng-src="{{image.Path}}" />
            </li>
        </ul>  
    </div>
    <div id="workArea" ng-controller="workController">
        <div id="notifications">

        </div>
        <div id="plant">
            <div ng-model="plant">
                {{plant.Substrate.Humidity}}
            </div>
        </div>
    </div>
    <div id="tools" ng-controller="toolsController">
        <ul>
            <li ng-repeat="image in images">
                <p>{{image.Description}}</p>
                <img ng-src="{{image.Path}}" ng-click="handleAction(image.Action, image.Value)"/>
            </li>
        </ul>  
    </div>
</div>
