@{
    ViewBag.Title = "Learn To Plant!";
}
@section Scripts {
<script src="~/js/pop-up.js"></script>
<script src="~/js/services/workFactory.js"></script>
<script src="~/js/services/imageFactory.js"></script>
<script src="~/js/services/actionFactory.js"></script>
<script src="~/js/controllers/workController.js"></script>
<script src="~/js/controllers/lessonsController.js"></script>
<script src="~/js/controllers/toolsController.js"></script>
<script src="~/js/controllers/environmentController.js"></script>
<script src="~/js/controllers/actionsController.js"></script>
}
<div>
    <div id="welcome" class="popup">
        <h3 id="tutorial"></h3>
        <div class="popup lewo">
            <img class="arrow" src="~/Images/common/down-arrow-icon.png" />
        </div>
        <div class="popup srodek">
            <img class="arrow" src="~/Images/common/down-arrow-icon.png" />
        </div>
        <div class="popup prawo">
            <img class="arrow" src="~/Images/common/down-arrow-icon.png" />
        </div>
    </div>

    <div id="container" ng-controller="actionsController">
        <div class="col-md-4">
            <div id="lessons" ng-controller="lessonsController">
                <ul>
                    <li ng-repeat="image in images">
                        <p>{{image.Description}}</p>
                        <img ng-src="{{image.Path}}" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div id="environment" ng-controller="environmentController">
                <span ng-repeat="image in images">
                    <img ng-src="{{image.Path}}" />
                </span>
            </div>
            <div id="workArea" ng-controller="workController">
                <div id="notifications">

                </div>
                <div id="plant">
                    <div ng-model="plant">
                        {{plant.Substrate.Humidity}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="tools" ng-controller="toolsController">
                <ul>
                    <li ng-repeat="image in images">
                        <p>{{image.Description}}</p>
                        <img ng-src="{{image.Path}}" ng-click="handleAction(image.Action, image.Value)" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
